<div class="row">
  <img class="img-fluid" src="/assets/hotel.jpg" alt="" />
</div>

<form
  class="mt-3 container"
  #formulario="ngForm"
  (ngSubmit)="consultarHoteles(formulario.value)"
>
  <div class="row">
    <div class="form-floating col-12 col-lg-4 mb-2">
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="destinos"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          placeholder="Introduce un destino"
          name="destino"
          required="true"
          [(ngModel)]="destino.destino"
          #lugar="ngModel"
        >
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>

        <ng-template #notFoundTemplate>
          <i>Destino no disponible</i>
        </ng-template>
      </div>
    </div>

    <div class="form-floating col-12 col-lg-3 mb-2">
      <input
        type="date"
        class="form-control"
        placeholder="Check-in"
        id="check_in"
        name="check_in"
        required="true"
        [(ngModel)]="destino.check_in"
        #check_in="ngModel"
      />
      <label for="check_in">Check-In</label>
    </div>

    <div class="form-floating col-12 col-lg-3 mb-2">
      <input
        type="date"
        class="form-control"
        placeholder="Check-out"
        id="check_out"
        name="check_out"
        required="true"
        [(ngModel)]="destino.check_out"
        #check_out="ngModel"
      />
      <label for="check_out">Check-Out</label>
    </div>

    <div class="text-center col-12 col-lg-2">
      <button
        type="submit"
        [disabled]="!formulario.valid"
        class="btn btn-primary"
      >
        Buscar Hoteles
      </button>
    </div>
  </div>
</form>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div *ngIf="lugar.invalid && (lugar.dirty || lugar.touched)">
        <div *ngIf="lugar.errors?.['required']" class="alert alert-danger">
          El lugar de destino es requerido
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-3">
      <div *ngIf="check_in.invalid && (check_in.dirty || check_in.touched)">
        <div *ngIf="check_in.errors?.['required']" class="alert alert-danger">
          La fecha del Check-In es requerida
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div *ngIf="check_out.invalid && (check_out.dirty || check_out.touched)">
        <div *ngIf="check_out.errors?.['required']" class="alert alert-danger">
          La fecha del Check-Out es requerida
        </div>
      </div>
    </div>
  </div>
</div>
