<div class="row">
  <img class="img-fluid" src="/assets/hotel.jpg" alt="" />
</div>
<div class="container mt-3">
  <div class="row g-1">
    <div class="form-floating col-sm-4">
      <input
        type="text"
        class="form-control"
        id="destino"
        placeholder="Destino"
      />
      <label for="destino">Destino</label>
    </div>
    <div class="form-floating col-sm">
      <input
        type="date"
        class="form-control"
        placeholder="Check-in"
        id="check-in"
      />
      <label for="check-in">Check-In</label>
    </div>
    <div class="form-floating col-sm">
      <input
        type="date"
        class="form-control"
        placeholder="Check-out"
        id="check-out"
      />
      <label for="check-out">Check-Out</label>
    </div>
  </div>
</div>
