<div class="container mt-2">
  <div class="text-center" *ngIf="hotel != undefined">
    <span class="h2">{{ hotel.nombre }} </span>
    <span *ngFor="let _ of [].constructor(hotel.estrellas)">
      <span class="material-icons"> star </span>
    </span>
    <span *ngFor="let _ of [].constructor(5 - hotel.estrellas)">
      <span class="material-icons"> star_border </span>
    </span>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-lg-2"></div>
    <div
      id="carouselExampleControls"
      data-bs-ride="carousel"
      class="carousel slide col-12 col-lg-8"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="hotel?.fotos?.[0]?.enlace" class="" alt="..." />
        </div>
        <div class="carousel-item" *ngFor="let foto of hotel?.fotos | slice: 1">
          <img [src]="foto?.enlace" class="" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="mt-2">
    <p [innerHtml]="hotel?.descripcion" id="descripcion"></p>
  </div>

  <table class="table mt-3" id="habitaciones">
    <thead>
      <tr>
        <th scope="col">Tipo de Habitación</th>
        <th scope="col">Capacidad Máxima</th>
        <th scope="col">Precio por noche</th>
        <th scope="col">
          <span class="material-icons"> local_cafe </span>
          <span class="align-top"> Desayuno</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let habitacion of habitaciones">
        <th>{{ habitacion.nombre }}</th>
        <td>
          <span
            class="material-icons"
            *ngFor="let _ of [].constructor(habitacion.capacidad)"
          >
            person_outline
          </span>
        </td>
        <td>
          <div class="h4">{{ habitacion.precioNoche | currency: "EUR" }}</div>
        </td>
        <td>
          <div *ngIf="habitacion.precioDesayuno == null">
            <i>No disponible</i>
          </div>
          <div *ngIf="habitacion.precioDesayuno != null">
            <label class="form-check-label" for="desayuno">
              Disponible por {{ habitacion.precioDesayuno | currency: "EUR" }}
            </label>
          </div>
        </td>
        <td>
          <a
            (click)="reservarHabitacion(habitacion.id)"
            class="btn btn-primary"
          >
            Reservar
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-2">
    <h3>Información Importante:</h3>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>Horario:</h4>
        <ul>
          <li>
            <span class="material-icons align-top"> schedule </span>
            Check-In: {{ hotel?.horaEntrada }}
          </li>
          <li>
            <span class="material-icons align-top"> schedule </span>
            Check-Out: {{ hotel?.horaSalida }}
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <h4>Servicios Disponibles:</h4>
        <ul>
          <li *ngIf="hotel?.wifi">
            <span class="material-icons align-top"> wifi </span> WiFi
          </li>
          <li *ngIf="hotel?.aireAcondicionado">
            <span class="material-icons align-top"> ac_unit </span>
            Aire Acondicionado
          </li>
          <li *ngIf="hotel?.parking">
            <span class="material-icons align-top"> local_parking </span>
            Parking
          </li>
          <li *ngIf="hotel?.gimnasio">
            <span class="material-icons align-top"> fitness_center </span>
            Gimnasio
          </li>
          <li *ngIf="hotel?.calefaccion">
            <span class="material-icons align-top"> whatshot </span> Calefacción
          </li>
          <li *ngIf="hotel?.mascotas">
            <span class="material-icons align-top"> pets </span>
            Mascotas permitidas
          </li>
          <li *ngIf="hotel?.accesibilidad">
            <span class="material-icons align-top"> accessible </span> Accesible
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" mt-2 *ngIf="valoraciones?.length != 0">
    <h3>Valoraciones</h3>
  </div>
</div>
