#descripcion {
  text-align: justify;
}

li {
  list-style-type: none;
}

.noDisponible {
  text-decoration: line-through;
}

a h5 {
  color: #0a58d4;
  text-decoration: underline;
  cursor: pointer;
}
