<div class="container">
  <app-seleccion-destino></app-seleccion-destino>

  <div
    class="row border rounded align-items-center my-2"
    *ngFor="let hotel of hoteles"
  >
    <!-- Imagenes del Hotel -->
    <div class="col-lg-3 mt-1">
      <img class="img-fluid img-responsive" [src]="hotel.fotos[0].enlace" />
    </div>

    <!-- Informacion del Hotel -->
    <div class="col-lg-7 mt-1">
      <a
        title="Ver las habitaciones del hotel"
        [routerLink]="['/hoteles', hotel.id, 'habitaciones']"
      >
        <h5>{{ hotel.nombre }}</h5>
      </a>
      <div class="flex-row">
        <span *ngFor="let _ of [].constructor(hotel.estrellas)">
          <span class="material-icons"> star </span>
        </span>
        <span *ngFor="let _ of [].constructor(5 - hotel.estrellas)">
          <span class="material-icons"> star_border </span>
        </span>
      </div>
      <a
        href="https://www.google.com/maps/place/{{ hotel.direccion }}"
        title="Ver dirección en Google Maps"
      >
        <i>{{ hotel.direccion }}</i>
      </a>

      <!-- Características del Hotel-->
      <div class="row">
        <div class="col-6 col-xl-4">
          <span class="material-icons"> wifi </span>
          <span [ngClass]="{ noDisponible: !hotel.wifi }" class="align-top">
            WiFi
          </span>
        </div>
        <div class="col-6 col-xl-4">
          <span class="material-icons"> ac_unit </span>
          <span
            [ngClass]="{ noDisponible: !hotel.aireAcondicionado }"
            class="align-top"
          >
            Aire Acondicionado
          </span>
        </div>
        <div class="col-6 col-xl-4">
          <span class="material-icons"> local_parking </span>
          <span [ngClass]="{ noDisponible: !hotel.parking }" class="align-top">
            Parking Disponible
          </span>
        </div>

        <div class="col-6 col-xl-4">
          <span class="material-icons"> fitness_center </span>
          <span class="align-top" [ngClass]="{ noDisponible: !hotel.gimnasio }">
            Gimnasio
          </span>
        </div>
        <div class="col-6 col-xl-4">
          <span class="material-icons"> whatshot </span>
          <span
            [ngClass]="{ noDisponible: !hotel.calefaccion }"
            class="align-top"
          >
            Calefacción
          </span>
        </div>
        <div class="col-6 col-xl-4">
          <span class="material-icons"> pets </span>
          <span [ngClass]="{ noDisponible: !hotel.mascotas }" class="align-top">
            Mascotas Permitidas
          </span>
        </div>

        <div class="col-6 col-xl-4">
          <span class="material-icons"> accessible </span>
          <span
            [ngClass]="{ noDisponible: !hotel.accesibilidad }"
            class="align-top"
          >
            Accesible
          </span>
        </div>
      </div>
    </div>

    <!-- Precio del Hotel -->
    <div class="col-lg-2">
      <div class="d-flex">
        <div class="me-1">
          <span class="h6">Habitaciones desde </span>
          <span class="h4">
            {{ hotel.precioMinimoHabitacion | currency: "EUR" }}
          </span>
        </div>
      </div>
      <div class="d-flex flex-row mt-4">
        <button
          class="btn btn-outline-dark mt-2 me-2"
          type="button"
          title="Añadir al carrito"
        >
          <i class="bi bi-cart-plus-fill"></i>
        </button>
        <button
          class="btn btn-outline-danger mt-2"
          type="button"
          title="Añadir a lista de deseados"
        >
          <i class="bi bi-heart-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
